html {
    height: 100vh;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
#root {
    height: 100%;
}
main {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: url('https://mdn.dev/archives/media/attachments/2012/07/09/3469/6587a382ffb2c944462a6b110b079496/no-dimensions-or-ratio.svg'); */
    background: linear-gradient(#e66465, #9198e5);
}